/*** ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}


/*** DEMO SKIN ***/

div.menu_container{
  background: none repeat scroll 0 0 #ACB2BE;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border: 0 none;
  font-size: 100%;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
  color: #333333;
}
div.menu_container ul{
  border: 0 none;
  font-size: 100%;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
  color: #333333;  
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
div.menu_container li{
  border: 0 none;
  font-size: 100%;
  outline: 0 none;
  padding: 0;
  vertical-align: baseline;
  color: #333333;  
}

div.menu_container li a{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 100%;
    outline: 0 none;
    vertical-align: baseline;  
}

#superfish-menu{
    /*
    margin: 0 auto 10px;
    padding: 10px 30px;
    width: 940px;
    font-weight: bold;
    background: none repeat scroll 0 0 #434A48;
    */
    padding-left: 70px;
    font-weight: bold;
    
    
    
}
.sf-menu {
	/* float: left; */
	/* margin-bottom: 1em; */
}
.sf-menu ul {
	box-shadow: 2px 2px 6px rgba(0,0,0,.2);
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
}
.sf-menu a {
	border-left: 1px solid #fff;
	border-top: 1px solid #dFeEFF; /* fallback colour must use full shorthand */
	border-top: 1px solid rgba(255,255,255,.5);
	padding: .75em 1em;
	text-decoration: none;
	zoom: 1; /* IE7 */
}
.sf-menu a {
	color: #FFFFFF;
}
.sf-menu li {
	background: #8991A2;
	
	-webkit-transition: background .2s;
	transition: background .2s;
}
.sf-menu ul li {
	background: #6D857E;
}
.sf-menu ul ul li {
	background: #9AAEDB;
}
.sf-menu li:hover,
.sf-menu li.sfHover {
	background: #6D857E;
	/* only transition out, not in */
	-webkit-transition: none;
	transition: none;
}

/*** arrows (for all except IE7) **/
.sf-arrows .sf-with-ul {
	padding-right: 2.5em;
	*padding-right: 1em; /* no CSS arrows for IE7 (lack pseudo-elements) */
}
/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	content: '';
	position: absolute;
	top: 50%;
	right: 1em;
	margin-top: -3px;
	height: 0;
	width: 0;
	/* order of following 3 rules important for fallbacks to work */
	border: 5px solid transparent;
	border-top-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255,255,255,.5);
}
.sf-arrows > li > .sf-with-ul:focus:after,
.sf-arrows > li:hover > .sf-with-ul:after,
.sf-arrows > .sfHover > .sf-with-ul:after {
	border-top-color: white; /* IE8 fallback colour */
}
/* styling for right-facing arrows */
.sf-arrows ul .sf-with-ul:after {
	margin-top: -5px;
	margin-right: -3px;
	border-color: transparent;
	border-left-color: #dFeEFF; /* edit this to suit design (no rgba in IE8) */
	border-left-color: rgba(255,255,255,.5);
}
.sf-arrows ul li > .sf-with-ul:focus:after,
.sf-arrows ul li:hover > .sf-with-ul:after,
.sf-arrows ul .sfHover > .sf-with-ul:after {
	border-left-color: white;
}
