/* 
    Document   : contacto
    Created on : Sep 3, 2012, 12:10:00 PM
    Author     : Rodrigo Santellan <rodrigo.santellan at inswitch.us>
    Description:
        Purpose of the stylesheet follows.
*/
.contacto_form p
{
  width: 40% !important;
}

.contacto_form p.input_error
{
  color: red !important;
}

.contacto_form p input
{
  float: right !important;
}

.submit {
    margin-left: 100px;
    text-align: center;
}

root { 
  display: block;
}

